:root {
  /* Font Family */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* themes color */
  --clr-primary: #AA003C;
  /* e50050 */
  --clr-secondary: #f4f4f4;
  --clr-tertiary: #0c0d0d;
  --clr-gray: #d1d1d1;
  --clr-subtitle: #80001F;
  --clr-body-white: #3f4042;
  --clr-white: #ffffff;

  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px var(--clr-white);

  /* Gradients */
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, var(--clr-white));
  --gradient-red-hover: linear-gradient(145deg, var(--clr-primary), var(--clr-subtitle));

  /* Font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --transition: all 0.4s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body.overflow-hidden { 
  overflow: hidden !important; 
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--clr-body-white);
  background-color: var(--clr-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--clr-tertiary);
  margin: 0;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.emphasise-txt {
  color: var(--clr-primary);
}

.section-title {
  margin: 2rem 0;
  font-size: 3.5rem;
  line-height: 4rem;
}

.section-subtitle {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: var(--fw-medium);
}

/* =========== HEADER ========== */
.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 64px;
  box-shadow: var(--shadow-white-3);
  background-color: var(--clr-secondary);
  z-index: 999;
}

.header-wrapper {
  padding: 1rem 0;
  justify-content: space-between;
}

.header_logo-round {
  background-color: var(--clr-body-white);
  border-radius: 50%;
  border: 4px solid var(--clr-gray);
}

.logo-title {
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--clr-tertiary);
  transform: translateY(-1px);
}

.nav-link.active {
  color: var(--clr-subtitle);
}

.mob-burger {
  border: none;
}

/* ============= hero-section =============== */
.hero-section {
  height: 90vh;
  justify-content: center;
  text-align: center;
}

.hero-header h2 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.hero-header .section-subtitle {
  color: var(--clr-body-white);
}

.social-caption {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  font-size: 20px;
}

.hero-section .social-list {
  justify-content: center;
}

.social-item {
  margin-right: 2rem;
  width: 48px;
  height: 48px;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  font-size: 16px;
  border-radius: 4px;
}

.social-item:last-of-type {
  margin-right: 0;
}

.social-link {
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  transition: var(--transition);
}

.social-link:hover {
  background: var(--gradient-red-hover);
  color: var(--clr-secondary);
}

.section-separator {
  height: 1px;
  background: #dce1e4;
  border: none;
}

/* ============= about-section =============== */
.about-section {
  padding: 6rem 0;
}

.about-wrapper {
  margin-right: 3rem;
}

.about__job-title {
  position: relative;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  line-height: 3rem;
  min-width: 10px;
  display: inline-block;

}

.about__job-title::after {
  position: absolute;
  content: '|';
  color: var(--clr-primary);
  animation: pointerAnimate 2.3s linear;
}

@keyframes pointerAnimate {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

.title-animate {
  display: inline-block;
  min-width: 10px;
  opacity: 0;
  animation-fill-mode: both;
  cursor: text;
  animation: bounceIn 1s 1s forwards;
}

.about-header .section-subtitle {
  color: var(--clr-body-white);
}

.about-section .social-list {
  justify-content: start;
}

.about-descr {
  margin-bottom: 3rem;
  width: 80%;
}

.about-photo-wrapper {
  padding: 0 2rem;
  position: relative;
}

.about-photo-wrapper::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 140px);
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
}

/* =========== Features & Portfolio ============ */

.features-section,
.portfolio-section,
.contact-section, 
.resume-section {
  padding: 5rem 0;
}

.features-list,
.portfolio-list,
.resume-list {
  margin-top: 5rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.features-item,
.portfolio-item,
.resume-item {
  padding: 2rem;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  border-radius: 8px;
}

.portfolio-item {
  text-align: center;
}

.features-icon {
  color: var(--clr-primary);
  font-size: 32px;
  text-align: center;
}

.features-title,
.portfolio-title,
.resume-title {
  margin: 1rem 0;
  font-weight: var(--fw-medium);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.portfolio-title .fa-arrow-right {
  opacity: 0;
}

.portfolio-title:hover {
  color: var(--clr-subtitle);
  cursor: pointer;
  transition: var(--transition);
}

.portfolio-title:hover .fa-arrow-right {
  opacity: 1;
  margin-left: 8px;
  transition: var(--transition);
}

.portfolio-screen {
  width: 100%;
}

.portfolio-link-btn,
.resume-link-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 15px 35px;
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  color: var(--clr-primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--fw-medium);
  border-radius: 4px;
  transition: var(--transition);
}

.portfolio-link-btn:active,
.portfolio-link-btn:hover,
.portfolio-link-btn:focus,
.resume-link-btn:active,
.resume-link-btn:hover,
.resume-link-btn:focus {
  color: var(--clr-white);
  background: var(--gradient-red-hover);
}

.portfolio-link-btn>i,
.resume-link-btn>i {
  display: inline-block;
  margin-left: 8px;
}

/* ============= resume-section =============== */
.resume-section {
  padding-left: 2rem;
  padding-right: 2rem;
}
.resume-content {
  gap: 4rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.resume-list-block {
  width: calc(50% - 2rem);
}

.resume-list-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 62px;
  font-family: var(--font-secondary);
}

.resume-list {
  margin-top: 3rem;
  grid-template-columns: 1fr;
  position: relative;
}

.resume-list::before{
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 100%;
  background: var(--clr-gray);
  right: 100%;
  transform: translateX(-28px);
}

.resume-item {
  position: relative;
}

.resume-item::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 5px;
  right: 100%;
  top: 63px;
  transform: translateY(-7px);
  background: var(--clr-gray);
  z-index: 0;
}

.resume-item::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid var(--clr-gray);
  border-radius: 100%;
  right: 104%;
  top: 55px;
  transform: translateY(-7px);
  background: var(--clr-secondary);
  transition: var(--transition);
}

.resume-item:hover:after {
  background: var(--clr-primary); 
}

.resume-descr {
  font-size: 20px;
}

.resume-descr a {
  color: var(--clr-primary);  
}

.resume-descr a:hover {
  text-decoration: underline; 
}

.resume-item span {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-medium);
  color: var(--clr-body-white);
}

.resume-link-btn {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========== Footer ========== */

.main-footer {
  margin-top: 3rem;
  padding: 3rem 0;
  background-color: #eff5fa;
}

.footer-wrapper {
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.logo-footer-link {
  flex-direction: column;
  gap: 0.75rem;
}

.footer-wrapper .social-list {
  margin-bottom: 2rem;
}

.footer-op {
  color: grey;
}

/* ============ Contacts ========== */

.contact-content {
  padding: 2rem;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  border-radius: 8px;
  gap: 4rem;
}

.contact-img {
  display: block;
  max-width: 33%;
  border-radius: 4px;
}

.contacts-list {
  align-items: start;
  font-weight: var(--fw-medium);
  font-size: 1.5rem;
  row-gap: 0.5rem;
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
  text-decoration: underline;
}

.contacts-link i {
  display: inline-block;
  margin-right: 8px;
  font-weight: var(--fw-extra-bold);
}

/* ============== portfolio-card ================ */

.portfolio-card {
  position: fixed;
  padding: 60px 15px;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--clr-secondary);
  scroll-behavior: smooth;
} 

.portfolio-card .portfolio-dialog {
  width: 90%;
  margin: 32px auto;
  inset-block-start: 0;
  border: none;
  padding: 45px;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.portfolio-card .portfolio-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-image-block {
  width: 60%;
  padding: 2rem 0 0 0;
  /* margin-top: 140px; */
}

.portfolio-card img {
  display: block;
  margin: 2rem auto;
  max-width: 90%;
  height: auto;
  border-radius: 8px;
}

.portfolio-card-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.close-card-btn {
  position: fixed;
  top: 45px;
  right: 100px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: var(--gradient-box-w);
  opacity: 1;
  z-index: 2;
  box-shadow: var(--shadow-white-3);
  color: var(--clr-primary);
}

.close-card-btn:hover {
  background: var(--gradient-red-hover);
  color: var(--clr-white);
  transition: var(--transition);
}

.close-card.fa-x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-card-title {
  font-size: 32px;
  font-weight: 600;
}

.full-descr {
  text-align: left;
  line-height: 1.35;
  font-size: 20px;
  margin: 1.5rem 0;
}

.tech-item {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 6px 12px;
  color: #9F1239;
  border-radius: 4px;
  background-color: rgba(159, 18, 57, 0.05);
  font-size: 12px;
  transition: var(--transition);
}

.tech-item:hover {
  box-shadow: var(--shadow-white-3);
}

/* ====================== ProjectFilter ================= */
.project-filter {
  margin-bottom: 2rem;
  text-align: center;
}

.tech-filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-filter-btn {
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  border: none;
  border-radius: 4px;
  margin: 4px 8px;
  padding: 16px 20px;
  color: var(--clr-primary);
  font-size: 14px;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}

.tech-filter-btn:hover,
.active-tech-btn {
  background: var(--gradient-red-hover);
  color: var(--clr-white);
}