.btn {
  border: none;
  background-color: transparent;
}

.mob_burger {
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  order: 1;
}

.mob_burger_span {
  width: 32px;
  height: 3px;
  background-color: var(--clr-tertiary);
  margin-bottom: 4px;
  border-radius: 2px;
}

.mob_burger_span:nth-of-type(2) {
  transition: opacity 0.4s ease-in-out;
}

.mob_burger_span:last-of-type {
  margin-bottom: 0;
}

.animated .mob_burger_span:nth-of-type(1) {
  animation: openMenu1 0.4s ease-in-out 1 forwards;
}

.animated .mob_burger_span:nth-of-type(2) {
  opacity: 0;
}

.animated .mob_burger_span:nth-of-type(3) {
  animation: openMenu2 0.4s ease-in-out 1 forwards;
}

.not_animated .mob_burger_span:nth-of-type(1) {
  animation: closeMenu1 0.4s ease-in-out 1 forwards;
}

.not_animated .mob_burger_span:nth-of-type(2) {
  opacity: 1;
}

.not_animated .mob_burger_span:nth-of-type(3) {
  animation: closeMenu2 0.4s ease-in-out 1 forwards;
}

.nav_list {
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 96px;
  left: 0;
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--clr-secondary);
  transform: translateY(-300px);
  opacity: 0;
  transition: all 0.6s ease-in-out;
  z-index: 50;
}


.animated~.nav_list {
  opacity: 1;
  transform: translateY(0);
}

.not_animated~.nav_list {
  opacity: 0;
  transform: translateY(-300px);
}

@keyframes openMenu1 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: rotate(-45deg) translateX(-5px) translateY(5px);
  }
}

@keyframes openMenu2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
  }
}

@keyframes closeMenu1 {
  0% {
    transform: rotate(-45deg) translateX(-5px) translateY(5px);
  }

  50% {
    transform: rotate(0) translateX(5px) translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes closeMenu2 {
  0% {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
  }

  50% {
    transform: rotate(0) translateX(5px) translateY(5px);
  }

  100% {
    transform: translateY(0);

  }
}


.about_section {
  flex-direction: column;
}

.about_wrapper {
  order: 1;
}

.about_photo_wrapper {
  order: 0;
  margin-bottom: 4rem;
}

.my_photo {
  width: 100%;
}



@media screen and (max-width: 750px) {
  .section_title {
    margin: 1.5rem 0;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .section_subtitle {
    font-size: 16px;
  }

  .hero_header h2,
  .about_header h2 {
    margin-bottom: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .features_list {
    margin-top: 3rem;
  }

  .features_title {
    font-size: 20px;
  }

  .about_descr {
    width: 100%;
  }

  .contact_content {
    flex-direction: column;
  }

  .contact_img {
    max-width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .about__job_title::after {
    animation: none;
  }

  .title_animate {
    animation: none;
    opacity: 1;
  }

  .contact_img {
    max-width: 75%;
  }

  .contacts_list {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .main_header {
    padding: 0 32px;
  }

  .section_title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero_header h2,
  .about_header h2 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .social_caption {
    font-size: 18px;
  }

  .features_section {
    padding: 3rem 0;
  }
}

@media screen and (max-height: 400px) {

  .hero_header h2,
  .about_header h2 {
    margin-bottom: 2rem;
  }

  .features_icon {
    font-size: 24px;
  }
}